.faq {
  padding: 60px 0 60px;
  position: relative;
}
.faq .fdot-1 {
  position: absolute;
  top: 15%;
  left: 45%;
  max-width: unset;
  z-index: -1;
  -webkit-animation: trantani 8s linear infinite;
  animation: trantani 8s linear infinite;
}
.faq .fdot-2 {
  position: absolute;
  top: 6%;
  left: 65%;
  max-width: unset;
  z-index: -1;
  -webkit-animation: trantani 6s linear infinite;
  animation: trantani 6s linear infinite;
}
.faq .fdot-3 {
  position: absolute;
  top: 0%;
  left: 35%;
  max-width: unset;
  z-index: -1;
  -webkit-animation: trantani 4s linear infinite;
  animation: trantani 4s linear infinite;
}
.faq .section-head {
  margin-bottom: 26px;
}
.faq .section-head p.text a.link {
  color: #31468c;
}
.faq .section-head p.text a.link:hover {
  text-decoration: underline;
}
.faq .faq-box .accordion .accordion-item {
  outline: none;
  margin-top: 20px;
  box-shadow: 0 2px 40px 0 rgb(0 0 0 / 5%);
  border-radius: 10px;
  overflow: hidden;
  border: none;
}
.faq .faq-box .accordion .accordion-item .accordion-header {
  position: relative;
  border-radius: 10px;
  background-color: white;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.25rem;
  font-weight: 500;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  overflow-anchor: none;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  box-shadow: none !important;
}
.element-title {
  font-weight: 900 !important;
  font-size: 40px !important;
  line-height: 60px;
  letter-spacing: 0;
  color: #31468c;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}
.faq
  .faq-box
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
  border-radius: 0;
  border: none;
  outline: none !important;
  padding: 20px 50px 20px 20px;
}
.accordion-button.collapsed:hover {
  background: #31468c;
  color: #fff !important;
}
.faq
  .faq-box
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button[aria-expanded='true'] {
  background: transparent;
  outline: none !important;
}
.faq
  .faq-box
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
  /* box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25); */
}
.faq
  .faq-box
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button
  .icon {
  margin-right: 20px;
}
.faq
  .faq-box
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button:after {
  display: none;
}
.faq
  .faq-box
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button:before {
  display: none;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
}
.faq
  .faq-box
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button[aria-expanded='true']:before {
  top: 35%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.faq .faq-box .accordion .accordion-item .accordion-collapse {
  border: none;
  border-top: 0;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  /* -webkit-box-shadow: 9.272px 3.746px 38px 0px rgba(176, 163, 231, 0.26); */
  /* box-shadow: 9.272px 3.746px 38px 0px rgba(176, 163, 231, 0.26); */
}
.faq .faq-box .accordion .accordion-item .accordion-collapse .accordion-body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #000;
  font-weight: 300;
  padding: 24px 20px 26px 20px;
}
.faq .fpic {
  margin-left: 30px;
}
.faq .fpic .faq-girl {
  max-width: unset;
}

.accordion-button::after {
  background-image: none !important;
}
.accordion-button {
  color: #000 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}
.accordion-button.collapsed:hover {
  background: #31468c !important;
  color: #fff !important;
}
.search-faq-items-wrap {
  width: 100%;
  max-width: 500px;
  height: 50px;
  position: relative;
  margin: 0 auto 50px;
}
.search-faq-items {
  border-radius: 3px;
  border: 1px solid #dadada;
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding: 10px 15px;
  margin-bottom: 50px;
}
.acc-reset:hover {
  color: #999;
}
.acc-reset {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #000;
  font-size: 30px;
  font-weight: 100;
  line-height: 25px;
  padding: 10px;
  cursor: pointer;
}
.no_result h4 {
  font-size: 30px;
  margin-top: 50px;
}
.no_result {
  text-align: center;
}
.tabs-anchor {
  margin-bottom: 50px;
}
.tab-anchor {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 20px;
  border: 1px solid #31468c;
  font-size: 15px;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  background: #31468c;
  font-weight: 700;
}
.fas.fa-plus {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &::before {
    content: '+';
    font-style: normal !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.accordion-button[aria-expanded='true'] .fas.fa-plus::before {
  content: '-';
}
.row.faq-small-text {
  padding: 80px 0 0;
}
.faq-small-text h4 {
  font-size: 15px;
  margin-bottom: 15px;
}
.faq-small-text p {
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .tabs-anchor {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .tab-anchor {
    display: inline-flex !important;
    padding: 5px 10px !important;
    margin-right: 2% !important;
    border: 1px solid #31468c !important;
    font-size: 14px !important;
    transition: all 0.25s ease-in-out 0s;
    cursor: pointer;
    width: 48%;
    align-items: center;
    height: 50px;
    margin-bottom: 7px;
    text-align: center;
    justify-content: center;
  }
  .user-data-form {
    padding-top: 25px;
    padding: 0px !important;
  }
}
