@charset "UTF-8";

.blog-meta-two .blog-title {
  font-size: 18px;
  margin: 5px 0 15px 0;
  font-weight: 500;
  color: #31468c;
}
.blog-meta-two .continue-btn {
  font-size: 14px;
  letter-spacing: 1px;
}
.blog-meta-two .date * {
  font-size: 12px;
}
